<html>
<head>  
  <meta charset="utf-8">
                <link href="css/style.css" rel='stylesheet' type='text/css' />
                <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<script type="text/javascript">

</script>
<body>

<center>
	</br></br></br></br></br></br>
	<img alt="" src="/images/vox.jpeg" ></br></br>
	<h1>Welcome to Incognito!!</h1>
	You have been invited to join the 'Women @ Freshdesk' conversation
	</br></br>
	<input type="button" onclick="window.location.href='/chat'" value="Let's do this!" /> 
</center>
</body>
</html>
