.bubble {
  background: #FFF;/*#F0F8FF; /*#fefef0*/
  /*box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);*/
  box-sizing: border-box;
  clear: both;
  float: left;
  margin: 5px 0 5px 20px;         
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  min-width: 20%;
  min-height: 60px;
  max-width: 80%;
  word-wrap: break-word;
  border: 1px solid #bbb;
  border-radius: 6px;
}
.bubble:after, .bubble:before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble:after {
	border-color: rgba(224, 238, 224, 0);
	border-right-color: #FFF;
	border-width: 9px;
	margin-top: -9px;
}
.bubble:before {
	border-color: rgba(187, 187, 187, 0);
	border-right-color: #bbb;
	border-width: 10px;
	margin-top: -10px;
}

.bubble:hover{
	background:#F4F8FC;
	/*border-color:#000;	*/
}
.bubble:hover:after{
	border-right-color: #F4F8FC;
}
/*.bubble:hover:before{
	border-right-color: #000;
}*/

.bubble--alt {
  background: #E7F7F1;/*#F4F1F0; /*#d3e5eb;*//*#E0EEE0;*/
  float: right;	
  margin: 5px 20px 5px 0; 
  min-width: 20%;
  min-height: 60px;
  max-width: 80%;
  border-radius: 6px;
}
.bubble--alt:after, .bubble--alt:before {
	left: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble--alt:after {
	border-color: rgba(224, 238, 224, 0);
	border-left-color: #E7F7F1;
	border-width: 9px;
	margin-top: -9px;
}
.bubble--alt:before {
	border-color: rgba(187, 187, 187, 0);
	border-left-color: #bbb;
	border-width: 10px;
	margin-top: -10px;
}

.bubble--alt:hover{
	background:#BAF8E0;
	/*border-color:#000;	*/
}
.bubble--alt:hover:after{
	border-left-color: #BAF8E0;
}
/*.bubble--alt:hover:before{
	border-left-color: #000;
}
*/



.bubble--admin {
	background: #F2F2F2;/*#DAF4F0;/*#CFDBC5;*/
	float: left;
	margin: 5px 0px 5px 20px;         
    min-width: 20%;
    min-height: 60px;
    max-width: 80%;
    border-radius: 6px;
}

.bubble--admin:after, .bubble--admin:before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble--admin:after {
	border-color: rgba(224, 238, 224, 0);
	border-right-color: #F2F2F2;
	border-width: 9px;
	margin-top: -9px;
}
.bubble--admin:before {
	border-color: rgba(187, 187, 187, 0);
	border-right-color: #bbb;
	border-width: 10px;
	margin-top: -10px;
}

.bubble--admin:hover{
	background:#eae8e8;
	/*border-color:#000;	*/
}
.bubble--admin:hover:after{
	border-right-color: #eae8e8;
}


.bubble--dialog {
	background: #FFF;/*#DAF4F0;/*#CFDBC5;*/
	float: left;
	margin: 5px 0px 5px 20px;         
    min-width: 25%;
    min-height: 60px;
    max-width: 50%;
    border-radius: 6px;
    font-size: 12px;
}

.bubble--dialog:after, .bubble--dialog:before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble--dialog:after {
	border-color: rgba(224, 238, 224, 0);
	border-right-color: #FFF;
	border-width: 9px;
	margin-top: -9px;
}
.bubble--dialog:before {
	border-color: rgba(187, 187, 187, 0);
	border-right-color: #bbb;
	border-width: 10px;
	margin-top: -10px;
}
