body {
  font-family: 'Open Sans','Arial Narrow',Arial,sans-serif !important;
  /*src: url("/Users/user/Documents/Incognito/public/fonts/Source Sans Pro");*/
  font-size: 14px;
}

#chat {
	background:#FFFFFF;
}
.own_name{
  font-size: 11px;
  font-weight: normal;
  color: #6B6B6B;
}

#index{
  margin-left: 300px;
}

.logo{
  width:100px;
  height:200px;
}

.small-logo{
  margin:10px;
  width:25px;
  height:50px; 
}

.title{
  font-size: 20px;
  font-weight: 500;
}
#join_button{
  /*background-color: #3E88CA;*/
  width:100px;  
}
.bold{
  font-weight: bold;
}
.justify{
  text-align: justify;
  text-justify: inter-word;
  font-size: 12px;
  margin:5px;
  padding:5px;
}
hr {
  height: 1px;
  background-color: #CCC;
  border: none;
  margin:5px;
}
.light-shades {
  color: #6B6B6B;
}
.left {
  float:left;
}

.right{
  float:right;
}

/* start of right side details bar */
#details {
	width: 24%;
	height:100%;
	float:right;
	/*overflow:auto;*/
	overflow-x:hidden; 
  overflow-y:hidden; 
  /*background-color: #89EAC5;*/
	/*background:#35CE94; #01C5BB;#F0F8FF;*/
  border-left: 1px solid #f3f3f3;
}

#heading {
  margin-left: 10px;
}

h1 {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

#info {
  margin-left: 10px;
  line-height: 21px !important;
  font-size: 13px;
  /*font-size: 14px !important;*/
}

#top_questions {
   cursor: pointer; cursor: hand; 
}

#top_questions li {
  padding: 5px;
  margin: 5px;
  color: #5B97D2;
  font-size: 12px;
  list-style-type: none;
  display: inline-block;
}
#top_questions p {
  padding: 20px;
  font-size: 13px;

}
#top_questions li:hover {
  color: #93c1f2;
}

.righttext{
  float:right;
  max-width: 75%;
  word-wrap: break-word;
  border: 1px solid black;
  padding: 5px;
  margin: 20px 5px;
}
.leftimg{
  float:left; 
  width:15%;
}

.right-text{
  float:right;
  width:84%;
}

.left-img{
  float:left; 
  width:15%;
}
/* end of right side details bar */

/* start of msg div */


#msg {
	width:75%;
	float:left;
	height:100%;
  background-color: white;
}

#conversation {
  font-size: 12px;
	width: 100%; 
	height: 87%; 
	float: left;
	overflow: auto;
	word-wrap: break-word;
	overflow-y:scroll;
}

#conversation li {
   list-style-type: none;
}

/*#conversation li:hover {
   color: #000;
   background-color: #F6F7F8;
   list-style-type: none;
}*/

a {
  text-decoration:none;
}


.voting {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 40px;
    position: relative;
    float:inherit;  
}

.vote , .username {
  display: block;
  text-align: center;
}

#footer {
	background-color: #F6F7F8;
	border-top: 1px solid #CDCECF;
	padding: 10px;
	width: 73%;
	position:fixed;
	bottom:0;
	height:12%;
}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 10%;
    position: relative;
}

.smallSizeImg {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.username {
  display: block;
	text-align: center;
	font-size: 10px;
}

#data
{
  height:70px;
  font-size:10pt;
  width:82%;
  border:1px solid #35CE93;
}

#datasend {
  float: right;
}

input[type="button"],input[type="submit"]  {
  border-radius: 9px;
  color: #FFFFFF;
  font-size: 16px;
  background: #FF7D42;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  line-height: normal;
  font-weight: bold;
}


/* layout */
.main-wrap {
    overflow: hidden;
}

.leftsidebar {
    float: left;
    width: 5%;
    text-align: center;
}

.leftcontent-wrap {
    float: left;
    width: 88%;
}   

.rightsidebar {
    float: right;
    width: 5%;
    text-align: center;
}

.rightcontent-wrap {
    float: right;
    width: 88%;
}   

.clear {clear:both;}

.smallprofileID {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
} 

.like {
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}

.tolike {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.rightcommentDateStamp {
  font-size: 10px;
	opacity: 0.5;
  position:absolute;
  bottom:0;
  left:0;
  padding: 10px;
}

.leftcommentDateStamp {
  opacity: 0.5;
  position:absolute;
  bottom:0;
  right:0;
  padding: 10px;
}

/* end of msg div */

#sessionEnd {
  text-align: center;
}
.center {
  display: inline-block;
}




